body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif; }

::selection {
  background: #33aeff;
  color: white; }

::-moz-selection {
  background: #33aeff;
  color: white; }

#example1 {
  font-family: 'Merriweather', 'Raleway', 'Karla', sans-serif;
  margin-top: 150px;
  color: black;
  font-size: 50px !important;
  font-weight: 600;
  line-height: 120px; }

.e-welcomeLink-sectionAbout {
  opacity: 0;
  margin-top: 100px;
  background-color: transparent;
  border: 0px solid #0098ff;
  text-align: left;
  padding: 10px;
  width: 100%; }
  .e-welcomeLink-sectionAbout i {
    color: #0098ff;
    font-size: 50px; }

.welcomeLink--animated {
  opacity: 1;
  margin-left: 50px;
  transition: all 900ms; }

@media only screen and (max-width: 480px) {
  #example1 {
    margin-top: 0px;
    padding: 0 20px;
    font-size: 10vw !important;
    font-weight: 600;
    line-height: 25vw !important; }

  .e-welcomeLink-sectionAbout {
    margin-top: 20px; } }
