.sectionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .sectionAbout .e-about {
    display: flex;
    flex-direction: row;
    justify-content: left; }
  .sectionAbout .e-about-left {
    width: 30%;
    padding: 10px;
    text-align: center; }
  .sectionAbout .e-about-right {
    width: 70%;
    padding: 10px; }
  .sectionAbout .elo {
    font-size: 50px;
    background: -webkit-linear-gradient(110deg, #9586a6, #d7706d);
    opacity: 0.2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 300ms; }
  .sectionAbout .e-about:hover .elo {
    background: -webkit-linear-gradient(110deg, #9586a6, #d7706d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 1000ms; }
