body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif; }

::selection {
  background: #33aeff;
  color: white; }

::-moz-selection {
  background: #33aeff;
  color: white; }

#sectionFooter {
  width: 810px;
  margin: 0px auto;
  padding: 0 10px;
  box-sizing: border-box; }
  #sectionFooter .b-footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; }
  #sectionFooter .e-footer {
    justify-content: center;
    padding: 10px 0 0 0;
    height: auto; }
    #sectionFooter .e-footer .e-social-ikon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      color: rgba(0, 0, 0, 0.2); }
    #sectionFooter .e-footer .e-social-ikon:hover {
      color: rgba(0, 0, 0, 0.2); }
    #sectionFooter .e-footer .e-social-ikon-a {
      text-decoration: none !important;
      color: inherit;
      height: 50px; }
    #sectionFooter .e-footer .e-social-ikon-i {
      font-size: 20px;
      margin: 0 10px; }
    #sectionFooter .e-footer .e-social-ikon-i:hover {
      text-decoration: none !important;
      color: #0098ff; }
  #sectionFooter p {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.2);
    margin-bottom: 0; }

@media only screen and (max-width: 480px) {
  #sectionFooter {
    display: none; } }
