body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif; }

.title--main {
  font-size: 10vw;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.1); }

.title--about {
  font-size: 6vw;
  font-weight: 300;
  text-align: center;
  color: white; }

.title--left {
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin: 15px 0 5px 0;
  text-align: left; }

.title--subtitle-left {
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  text-transform: uppercase; }

.title--undersored {
  font-size: 25px;
  font-weight: 300;
  color: white;
  margin: 10px 0;
  text-align: center; }

.title-accordion-item {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: .75rem; }

.title-form {
  font-size: 30px;
  font-weight: 700;
  margin: 0px 0 30px 0;
  text-align: center;
  color: white; }

.title-footer {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.2); }

.text--light {
  font-size: 16px;
  font-weight: 300;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  -ms-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out; }

.text--light-left {
  font-size: 16px;
  font-weight: 300;
  margin: 5vh 3vh;
  color: rgba(255, 255, 255, 0.6);
  text-align: left; }

.text--light-bold {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline; }

.text-form {
  font-size: 12px;
  font-weight: 300;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.5);
  text-align: center; }

.text-fewwords {
  font-size: 6vh;
  text-align: center;
  transform: rotate(-90deg);
  color: rgba(255, 255, 255, 0.1); }
