body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
  }

  ::selection {
    background: #33aeff;
    color: white;
  }
  ::-moz-selection {
    background: #33aeff; 
    color: white;
  }



// MIXINS
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-content: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin flex-column-spacebetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-column-spacearound {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



// VARIABLES
$color-nav-logo: #0098ff;
$color-nav-a: rgba(0, 0, 0, 1);
$color-nav-a--clicked: #0098ff;

$color-welcome-arrow: #0098ff;

$color-footer-socialIkon: rgba(0, 0, 0, 0.2);
$color-footer-socialIkon--hover: #0098ff;





//MEDIA QUERIES
$breakpoints: (
    "phone":        400px,
    "phablet":      560px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}









//background zamiast tekstu
// background: -webkit-linear-gradient(110deg,#9586a6,#d7706d);
//         opacity: 0.2;
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         transition: all 300ms;