// Variables



$--ramka-size: 655px;

$--color-sectionWelcome-background: #17151b;
$--color-sectionWork-background: rgba(255, 255, 255, 1);
$--color-sectionProjects-background: rgba(255, 255, 255, 1);
$--color-sectionFooter-background: rbga(255, 255, 255, 1);
$--color-sectionForm-background: rgba(255, 255, 255, 1);

$--color-project-card-border: #d7706d;
$--color-accordion-header-border: #d7706d;

$--color-e-link-section: linear-gradient(110deg,#9586a6,#d7706d);
